<h3><a class="btn btn-secondary" href="/product"><i class="fa fa-plus"></i> Crear</a> lista de productos</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre Producto</th>
            <th>Email</th>
            <th>Celular</th>
            <th>Ciudad</th>
            <th>Vendedor</th>
            <th>Factura</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.fullName}}</td>
            <td>{{this.email}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.city}}</td>
            <td>{{this.vendedor}}</td>
            <td>{{this.valor_factura}}</td>
            <td>
                <a href="/product/{{this._id}}"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                <a href="/product/delete/{{this._id}}" onclick="return confirm('Seguro quieres eliminarlo?');"><i
                        class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>